<div class="col-md-12">
  <!-- START entity-name list -->
  <div class="row">
    <div class="col-md-12">

      <div class="entity-name-list list-group">
        {{#each connection.entities as | entity index |}}
          <a href="#" class="list-group-item" 
            {{action 'searchEntity' entity}}>
            <h4 class="entity-name list-group-item-heading">{{entity}}</h4>
            <p>connected through {{connection.path}}</p>
          </a>
        {{/each}}
      </div>
    </div>
  </div>
  <!-- END   entity-name list -->
</div>